<div class="text-center mt-4">
    <h1>Vale-Presente</h1>
    <h3>Presenteie alguém especial!</h3>
</div>
<div class="container-md mt-5">
    <div class="row justify-content-center mb-4">
        <div class="col-md-4 col-sm-6">
            <div>
                <img src="/img/valepresentes/homecenter.png" alt="" class="img-fluid" />
                <a href="/vale/6206befc7a6dd449c35d2d66" type="button" class="btn btn-warning container-fluid">Eu quero!</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div>
                <img src="/img/valepresentes/voucher.png" class="img-fluid" alt="" />
                <a href="/vale/6206c0467a6dd449c35d2d67" type="button" class="btn btn-warning container-fluid">Eu quero!</a>
            </div>
        </div>
    </div>
    {{! <div>
        <img src="/img/valepresentes/bolo.png" alt="" />
        <a href="/vale/2" type="button" class="btn btn-warning">Eu quero!</a>
    </div> }}
    <div class="row justify-content-center mb-4">
        <div class="col-md-4 col-sm-6">
            <div>
                <img src="/img/valepresentes/hotel.png" alt="" class="img-fluid"/>
                <a href="/vale/3" type="button" class="btn btn-warning container-fluid">Eu quero!</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div>
                <img src="/img/valepresentes/livro.png" alt="" class="img-fluid" />
                <a href="/vale/4" type="button" class="btn btn-warning container-fluid">Eu quero!</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-md-4 col-sm-6">
            <div>
                <img src="/img/valepresentes/netflix.png" alt="" class="img-fluid" />
                <a href="/vale/5" type="button" class="btn btn-warning container-fluid">Eu quero!</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div>
                <img src="/img/valepresentes/spa.png" alt="" class="img-fluid" />
                <a href="/vale/6" type="button" class="btn btn-warning container-fluid">Eu quero!</a>
            </div>
        </div>
    </div>
</div>