<div class="teste">
    <div>
        <img src="/img/valepresentes/homecenter.png" alt="" />
        <a href="/vale/1" type="button" class="btn btn-warning">Eu quero!</a>
    </div>
    <div>
        <img src="/img/valepresentes/bolo.png" alt="" />
        <a href="/vale/2" type="button" class="btn btn-warning">Eu quero!</a>
    </div>
    <div>
        <img src="/img/valepresentes/hotel.png" alt="" />
        <a href="/vale/3" type="button" class="btn btn-warning">Eu quero!</a>
    </div>
    <div>
        <img src="/img/valepresentes/livro.png" alt="" />
        <a href="/vale/4" type="button" class="btn btn-warning">Eu quero!</a>
    </div>
    <div>
        <img src="/img/valepresentes/netflix.png" alt="" />
        <a href="/vale/5" type="button" class="btn btn-warning">Eu quero!</a>
    </div>
    <div>
        <img src="/img/valepresentes/spa.png" alt="" />
        <a href="/vale/6" type="button" class="btn btn-warning">Eu quero!</a>
    </div>
    <div>
        <img src="/img/valepresentes/voucher.png" alt="" />
        <a href="/vale/7" type="button" class="btn btn-warning">Eu quero!</a>
    </div>
</div>