* {
    box-sizing: border-box;
    font-size: 14px;
}

/* !MARGIN FORMS */
.container-card{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.card-max{
    width: 400px;
}
.none-form{
    display: none;
}
.temp {
    margin: auto;
    width: 980px;
}
.temp-img {
    margin: 20px auto;
    width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.temp-img > div {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.temp-img img {
    width: 100%;
}
.img-vale{
    height: 150px;
}

.form {
    padding: 25px;
}

.form-group {
    width: 100%;
    height: max-content;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    /* text-align: center; */
    padding: 10px;
}

#FormControlTextarea1 {
    width: 100%;
    height: 100%;
}

.vales .card {
    width: 400px;
    display: inline-block;
}